@page "/"
@inject HttpClient Http

<h1>Products</h1>

<p>This is a list of products</p>

@if (products == null)
{
    <p>No products found</p>
}
else
{
    <ul>
        @foreach(var product in products)
        {
        <li>#@product.Id, @product.Name </li>
        }
    </ul>
}


@code {
    private IEnumerable<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<IEnumerable<Product>>("https://localhost:44322/api/products?AccessKey=703d413bce0f415f9a14cb359be433b6==");
    }


}
